        /* Style all input fields */
        input {
            width: calc(100% - 24px); /* Adjusted for padding */
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
          }
          
          /* Style the submit button */
          input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
  }
  
  input[type="submit"]:hover {
      background-color: #0056b3;
  }
          
          /* Style the container for inputs */
          .container {
              max-width: 400px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }
          
          /* The message box is shown when the user clicks on the password field */
          #message {
            display:none;
            background: #f1f1f1;
            color: #000;
            position: relative;
            padding: 20px;
            margin-top: 10px;
          }
          
          #message p {
            padding: 10px 35px;
            font-size: 18px;
          }
          
          /* Add a green text color and a checkmark when the requirements are right */
          .valid {
            color: green;
          }
          
          .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
          }
          
          /* Add a red text color and an "x" when the requirements are wrong */
          .invalid {
            color: red;
          }
          
          .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
          }
          h1{
              text-align: center;
          }
          a button {
      width: calc(100% - 24px);
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #28a745;
      color: #fff;
      cursor: pointer;
  }
  
  a button:hover {
      background-color: #218838;
  }
  